@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

[data-theme='dark'] {
	--background: black;
	--foreground: white;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

body,
html {
	height: 100%;
}
